# Transformar cadenas

In [6]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""
#separar las oraciones
separacion = text.split(".")
separacion

['Interesting facts about the Moon',
 " The Moon is Earth's only satellite",
 ' There are several interesting facts about the Moon and how it affects life here on Earth',
 ' \nOn average, the Moon moves 4cm away from the Earth every year',
 ' This yearly drift is not significant enough to cause immediate effects on Earth',
 ' The highest daylight temperature of the Moon is 127 C',
 '']

In [7]:
#Declarar palabras clave
palbras_pista = ('average', 'temperature', 'distance')

In [14]:
#Ciclo para obtener oraciones relacionadas con las palabras clave
for oracion in separacion:
    for palabra in palbras_pista:
        if palabra in oracion:
            print(oracion)        
            break

On average, the Moon moves 4cm away from the Earth every year
 The highest daylight temperature of the Moon is 127 C

In [19]:
#Ciclo para remplazar C por Celsius
for oracion in separacion:
    for palabra in palbras_pista:
        if palabra in oracion:
            print(oracion.replace('C','Celsius'))        
            break

On average, the Moon moves 4cm away from the Earth every year
 The highest daylight temperature of the Moon is 127 Celsius

# Fromateando Cadenas

In [80]:
name = "Luna"
gravity = 0.00162 # in kms
planet = "Tierra"

In [81]:
titulo1 = 'Datos de gravedad sobre {}'.format(name)
titulo1.title()

'Datos De Gravedad Sobre Luna'

In [82]:

plantilla = 'Datos:\n La gravedad de {0}: {1} m/s2.\n Nombre del planeta: {2}.'.format(name,gravity*1000,planet)

In [83]:
union = f'{titulo1.title()}\n {plantilla}'
print(union)

Datos De Gravedad Sobre Luna
 Datos:
 La gravedad de Luna: 1.6199999999999999 m/s2.
 Nombre del planeta: Tierra.

In [84]:
name = 'Ganímedes'
gravity  = 0.00143
planet = 'Marte '

In [92]:
plantilla2 = 'Datos sobre {0}:\n La gravedad de {0}: {1} m/s2.\n Nombre del planeta: {2}.'.format(name,gravity*1000,planet)
print(plantilla2)

Datos sobre Ganímedes:
 La gravedad de Ganímedes: 1.4300000000000002 m/s2.
 Nombre del planeta: Marte .